{% extends "public/_base.html" %}
{% block body %}
<section class="band public-band">
  <div class="panel">
    <div class="panel-head"><h2>LiteLLM</h2></div>
    <div class="panel-body">
      <p>LiteLLM if you want to self-host.</p>
      <blockquote>LiteLLM has been around for a while, and you can also just take our open source code and use that as well. It's also a battle-tested solution.</blockquote>
      <blockquote>A lot of teams love to self-host and if you're that type of team, then you should totally do that.</blockquote>
    </div>
  </div>
  <div class="panel">
    <div class="panel-head"><h2>TrustedRouter</h2></div>
    <div class="panel-body">
      <blockquote>They can take the open source project and run it themselves on their hardware. They can run it themselves internally. They can run it hosted. Someone else can take this and run it.</blockquote>
      <blockquote>You can also take our code and create another version of TrustedRouter that you run as a service.</blockquote>
      <blockquote>We're very happy with that because we want to let so many other companies have this service and be open, fully Apache licensed open source.</blockquote>
    </div>
  </div>
  <div class="panel">
    <div class="panel-head"><h2>Shared Shape</h2></div>
    <div class="panel-body">
      <blockquote>What we want is for proliferation of these routers to exist because it's important that people have the safety, security, uptime, and cost savings from this.</blockquote>
    </div>
  </div>
</section>
<section class="panel">
  <div class="panel-head"><h2>Why Open Source Matters</h2><span class="pill">founder words</span></div>
  <div class="panel-body">
    <blockquote>We should really demand that all routers be totally open source. That's really the only way to be sure that it is running things that are safe and secure.</blockquote>
    <blockquote>By creating these tools and open sourcing them then we can create a way for people to have alternatives.</blockquote>
    <blockquote>The main reason would be if you aren't looking for a hosted solution. If you need to have something that you host yourself, then please use our open source software and host it yourself.</blockquote>
    <blockquote>If you're looking to just own your flow and make something that's very custom then that's something that you want to own.</blockquote>
  </div>
</section>
{% endblock %}
